/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #000000;
    background-color: #f8bbbb;
  }




#Image p{
  color: rgb(255, 98, 0);
  position: absolute;
  top: 460px;
  left: 200px;
  font-size: x-large;
}

#Image h2{
  position: absolute;
  top: 315px;
  left: 200px;
}

#Image {
  background-color: rgb(93, 214, 56);
  width: 450px;
  min-height: 450px;
 
  margin: 10px;
  border: solid 10px #f28911;
  
}


